<div class="container-fluid master-container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <div class="panel panel-primary">
        <div class="panel-heading">Eliminar Cuenta</div>
        <div class="panel-body">
          <%= render partial: 'delete_form'%>
        </div>
      </div>
      
    </div>
  </div>
</div>