<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Ordenar por
    <span class="caret"></span>
  </button>
  <ul id="sorts" class="dropdown-menu" role="menu">
    <li><a class="wrapTxt" role="menuitem" data-sort-value="name">A-Z<span class="mask"></span></a></li>
    <li><a class="wrapTxt" role="menuitem" data-sort-value="name_inv">Z-A<span class="mask"></span></a></li>
    <li><a class="wrapTxt" role="menuitem" data-sort-value="date">M치s recientes<span class="mask"></span></a></li>
    <li><a class="wrapTxt" role="menuitem" data-sort-value="date_inv">M치s antiguos<span class="mask"></span></a></li>
    <li><a class="wrapTxt" role="menuitem" data-sort-value="expiration">Pr칩ximos vencimientos<span class="mask"></span></a></li>
    <li><a class="wrapTxt" role="menuitem" data-sort-value="expiration_inv">Vencimientos m치s lejanos<span class="mask"></span></a></li>
  </ul>
</div>