<body class="fondo">

	<div class="container-fluid">
    	<div class="row cat_list_bann">
    		<div class="col-md-2">
          		<%= render 'menu_categorias' %>
        	</div>

        	<div class="col-md-8 lista_index">
          		<% if @cat.size == 0 %>
        			<div class="no_producto">
          				<h3 style="text-align: center">No hay productos en esta categoría.</h3>
        			<div>
      			<% end %>
      
        	<%@cat.all.each do |c| %>
          		<%= render "publicacion",pub: c %>
        	<% end %>
        </div>
    </div>

</body>