<a href="<%= publicacione_path(pub) %>" class="thumb">
  <div class="thumbnail col-md-3">
    <%= image_tag pub.imagen, size: '250x190' ,:alt => pub.nombre, :title =>pub.nombre %>
    <div class="caption">
      <h5><b><%= pub.nombre %></b></h4>
      <h6> Publicado: <%= pub.created_at.strftime("%d %b %y") %></h6>
    </div>
  </div>
</a>