<div class="panel panel-default titulo-categorias">
	<div class="panel-heading">
		<h5 class="panel-title"><b >Bienvenido <%= current_user.nombre.humanize %>!</b></h5>
	</div>
	<ul class="list-group" >
		<a href="<%= root_path %>" class="list-group-item">Mi perfil</a>
		<a href="<%= mis_publicacions_path %>" class="list-group-item">Mis Publicaciones</a>
		<a href="<%= new_publicacion_path %>" class="list-group-item">Nueva Publicacion</a>	
	</ul>
</div>