<body class="fondo">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= render 'filtro' %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-2">
        <%= render 'menu_categorias' %>
      </div>

      <div class="col-md-8">
        <% if @cat.size == 0 %>
          <div class="no_producto">
            <h3 style="text-align: center">No hay productos en esta categoría.</h3>
          </div>
        <% end %>
        <%@cat.all.each do |c| %>
          <%= render "publicacion",pub: c %>
        <% end %>
      </div>
      
      <div class="col-md-2">
        <% if user_signed_in? %>
          <%= render "menu_usuario"%>
        <% end %>
      </div>
    </div>
  </div>
</body>