<body class="fondo">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= render 'filtro' %>
      </div>
    </div>

<!-- Categorias/Lista/Nada -->
    <div class="row">
      <div class="col-md-2">
        <%= render 'menu_categorias' %>
      </div>
      <div class="col-md-8">
        <div class="row row-centered">
          <div class="col-md-12 col-centered">
            <%@p.all.each do |pub| %>
              <%= render "publicacion",pub: pub %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <% if user_signed_in? %>
          <%= render "menu_usuario"%>
        <% end %>
      </div>

    </div>
  </div>
</body>

