<% if !consult.respuesta.blank? %>
	<div class="col-xs-10 col-md-11 col-md-offset-1">
		<div class="list-group-item respuesta">
			<p><%= consult.respuesta %> </p>
			<div class="mic-info-respuesta">
				<%= consult.created_at.strftime("%d %b %y") %>
			</div>
		</div>
	</div>
<%end%>