<div class="col-xs-10 col-md-12">
	<div class="list-group-item pregunta">
		<p><%= consult.pregunta %> </p>
		<div class="mic-info-pregunta">
			<%= consult.created_at.strftime("%d %b %y") %>
		</div>
	</div>
</div>