<div class="container-fluid master-container">
  <div class="row">
    <div class="col-md-8">
      <div class="jumbotron">
        <h1>Bienvenido a Bestnid</h1>
        <p>La web donde todos pueden compartir lo que tienen y elegir con el corazón.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Aprender más</a></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Ingresa tus datos para abrir una cuenta</div>
        <div class="panel-body">
          <%= render partial: 'registration_form'%>
        </div>
      </div>
    </div>
  </div>
</div>