/*background de todas las vistas*/
.fondo{
	background-color: #d1d6db;
}

/* Mensaje de no hay productos en esta categoria */
.no_producto{
	margin-top:300px;
}

#principal {
	margin-top: 95px;
}

/* -------------------------------------- */

/* Barra de navegacion */
.navbar-brand{
	margin-top: -8px;
	margin-right: -10px;
}

/*Barra de search + boton buscar */
.form-group{
	width: 395px;                       /* buscar ".navbar-form .form-control" en bootstrap.min*/
	margin-left: 310px;
}

.navbar-right{
	margin-right: 2px;
}

/* -------------------------------------- */

/* Row que contiene las categorias y la lista */
.cat_list_bann{
	padding-right: 30px;
	padding-left: 30px;
}

/* Menu Categorias */
.col-md-2{
	width: 14%;
	/*background-color: #000000;*/
	height: 0px;
}

/* Lista index */
.lista_index{
	margin-left: 20px;
	margin-right: 20px;
	/*background-color: #000000;*/
	padding-left: 45px;
	padding-right: 45px;
}

/* thumbnails */
.thumbnail{
    margin: 12px;
    width: 230px;
    height: 290px;
    overflow: hidden;
}

.thumbnail .img{
	height: 190px;
}

.thumbnail .caption{
	padding: 2px;
	color:#333
}

.thumb:hover .thumbnail{
	background-color: #c84949;
}

.filtro{
	margin-left:12px;
}


/*===========================AGREGADO POR AXEL=======Show==================================*/
body { padding-top:30px; }
.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .mic-info-pregunta { color: #f2f2f2;font-size: 11px; }
.widget .mic-info-respuesta { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }


.respuesta{
	color:#a94442;
	background-color:#f2dede
}

.pregunta{
	color:#ffffff;
	background-color:#b24646
}

.bestnid-btn{
	color:#fff;
	background-color:#883636;
	border-color:#5e2525
}

.bestnid-primary{
	border-color:#883636
}

.bestnid-primary>.panel-heading{
	color:#fff;
	background-color:#883636;
	border-color:#883636
}

.bestnid-primary>.panel-heading+.panel-collapse>.panel-body{
	border-top-color:#883636
}

.bestnid-primary>.panel-heading .badge{
	color:#883636;
	background-color:#fff
}

.bestnid-primary>.panel-footer+.panel-collapse>.panel-body{
	border-bottom-color:#883636
}